.dockerignore
**/*.git

!/logreg-distance-angle.pkl

**/*.pkl

**/*.json
**/*.ipynb
!demo.ipynb

#Exclude useless repositories
notebooks/**/*
figures/**/*
ift6758/visualizations/**
ift6758/metrics/**
